# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Allure test results and reports
allure-results/
/allure-report/

# Log file
*.log

# Ignore Visual Studio Code settings and workspace files
.vscode/
# Ignore IntelliJ IDEA project files
.idea/

# Ignore Eclipse project files
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.settings/
.loadpath
.factorypath
.externalToolBuilders/
*.launch