<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Reqres API Test Suite">

    <test name="Pruebas Positivas">
        <groups>
            <run>
                <include name="positiva" />
            </run>
        </groups>
        <classes>
            <class name="apitests.APITest" >
                <methods>
                    <include name="borrarUsuario">
                        <parameter name="userId" value="690" />
                    </include>
                    <include name="crearUsuario">
                        <parameter name="name" value="free range" />
                        <parameter name="job" value="patito" />
                    </include>
                    <include name="actualizarUsuario">
                        <parameter name="name" value="John Doe" />
                        <parameter name="job" value="Writer" />
                    </include>
                </methods>
            </class>    
            <class name="apitests.UserRetrievalTest">
                <parameter name="userId" value="2" />
                <parameter name="page" value="2" />
            </class>
        </classes>
    </test>

    <test name="Pruebas Auth">
        <groups>
            <run>
                <include name="auth" />
            </run>
        </groups>
        <classes>
            <class name="apitests.AuthTest" />
        </classes>
    </test>

    <test name="Pruebas Negativas">
        <groups>
            <run>
                <include name="negativa" />
            </run>
        </groups>
        <classes>
            <class name="apitests.NegativasTest">
                <parameter name="missingUserId" value="23" />
                <parameter name="invalidUserId" value="2" />
            </class>
        </classes>
    </test>

    <test name="Pruebas de Performance">
        <groups>
            <run>
                <include name="performance" />
            </run>
        </groups>
        <classes>
            <class name="apitests.PerformanceTest" />
        </classes>
    </test>

    <test name="Validacion de Esquemas">
        <parameter name="userId" value="2" />
        <parameter name="schemaPath" value="schemas/user-schema.json" />
        <groups>
            <run>
                <include name="schema" />
            </run>
        </groups>
        <classes>
            <class name="apitests.SchemaValidationTest" />
        </classes>
    </test>

    
    <test name="Pruebas Idempotencia">
        <groups>
            <run>
                <include name="idempotencia" />
            </run>
        </groups>
        <classes>
            <class name="apitests.IdempotencyTest" >
                <parameter name="get_userId" value="2"/>
                <parameter name="delete_userId" value="690" />
            </class>    
        </classes>
    </test>

</suite>